---
---

@import "{{ site.theme }}";

/** Posts */
.post-list-heading { font-size: 250%;
                     font-weight: bold;
                     text-decoration: underline;
                   }

.post-link { font-size: 175%;
             font-weight: bold;
             color: darkslategrey; 
            }
            
.post-link:visited {color: darkslategrey;}

.post-meta { font-size: 100%; 
             color: grey; 
             font-style: italic;}

// code { background-color: mintcream; }

